// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: #ddd;

// ----------------------------------------------------------------------------
// Widget-image styles
// ----------------------------------------------------------------------------
.widget-owncloud {
  padding: 0!important;
  background-color: $background-color;
  .owncloud-image-container {
    position: relative;
  }
  img {
    max-height: 320px;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
  }

  .counter{
    bottom: 12px !important;
  }

  .updated-at{
    bottom: 30px;
    color: invert($background-color);
  }

  .owncloud-background{
    width: 370px;
    height: 340px;
  }
}
