// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: #000;
$background-blur: 16px;
$owncloud-width: 370px;
$owncloud-height: 340px;

// ----------------------------------------------------------------------------
// Widget-image styles
// ----------------------------------------------------------------------------
.widget-owncloud {
  padding: 0 !important;
  overflow: hidden;

  img {
    max-width: 9999px !important;
  }

  .foreground {
    position: absolute;
    top: 0;
    left: 0;
    img {
      z-index: 9999;
    }
  }

  .credits {
    position: absolute;
    bottom: 0.25em;
    font-size: 0.5em;
    width: $owncloud-width;
    z-index: 9999;
    text-shadow: 0 2px 3px rgba(0,0,0,0.5);

    span {
      padding-left: 1.5em;
      color: #ddd;
    }
  }

  .background {
    position: absolute;
    top: 0;
    width: $owncloud-width;
    height: $owncloud-height;
    overflow: hidden;
    opacity: 0.5;

    img {
      -webkit-filter: blur($background-blur);
      -moz-filter: blur($background-blur);
      -o-filter: blur($background-blur);
      -ms-filter: blur($background-blur);
      filter: blur($background-blur);
    }
  }
}