@import "../list/list";

// ----------------------------------------------------------------------------
// Widget-redmine-activity_projects styles
// ----------------------------------------------------------------------------
.widget-redmine-activity_projects {
  @extend .widget-list;

  background-color: #ec7e2d;

  ol.projects{
    list-style: none;
    margin: 0;

    span.updated_at{
      color: rgba(255,255,255,0.4);
    }
  }
}
