@import "../list/list"

// ----------------------------------------------------------------------------
// Widget-redmine-activity_users styles
// ----------------------------------------------------------------------------
.widget-redmine-activity_users
  @extend .widget-list

  cursor: default
  background-color: #361cab

  div.columns
    height: 90%
    margin: 0
    padding: 0
    > div.column
      float: left
      width: 50%
      height: 100%

  ol.users
    list-style: none
    margin: 0
    text-align: left
    > li    
      ol.projects
        list-style: none
        margin: 0 0 10px 25px

        > li
          font-weight: 100
          margin: 0

          a.label
            color: rgba(255,255,255, 0.5)

          span.updated_at
            color: rgba(255,255,255,0.2)
