<% content_for(:title) { "neo dash" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="jenkins_builds" data-view="JenkinsBuilds" data-title="CI"></div>
    </li>
  </ul>
</div>
