<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5

  //X-MAS edition
  jQuery().jSnow({zIndex: 100});
});
</script>

<% content_for(:title) { "neo dash" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="3">
      <div data-id="redmine_activity_users" data-view="RedmineActivityUsers" data-title="Users"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="3">
      <div data-id="redmine_activity_projects" data-view="RedmineActivityProjects" data-title="Projects"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="jenkins_builds" data-view="JenkinsBuilds" data-title="CI"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="clock" data-view="Clock" data-title="Clock"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="nichtlustig" data-view="RemoteImage"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="errbit" data-view="Errbit"></div>
    </li>
    <li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/neopoly-logo.png"></div>
    </li>
  </ul>
</div>
