<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5

  //X-MAS edition
  <%
    now = Time.now
    if (now.month == 12 && now.day > 10) || (now.month == 1 && now.day < 10)
  %>
    jQuery().jSnow({zIndex: 100});
  <% end %>
});
</script>

<% content_for(:title) { "neo dash" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="gitter" data-view="Gitter" data-title="Gitter"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="2">
      <div data-id="redmine_activity_projects" data-view="RedmineActivityProjects" data-title="Projects"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="redmine_activity_users" data-view="RedmineActivityUsers" data-title="Users"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="jenkins_builds" data-view="JenkinsBuilds" data-title="CI"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="clock" data-view="Clock" data-title="Clock"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="nichtlustig" data-view="Nichtlustig"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="2">
      <div data-id="dashboard_notepad" data-view="DashboardNotepad" data-title="Neopad" data-hint="Edit via orga/wiki/DashboardNotepad"></div>
    </li>
    <li data-row="3" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="redmine_project_timetable" data-view="RedmineProjectTimetable" data-title="Timetable"></div>
    </li>
    <li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/neopoly-logo.png"></div>
    </li>
  </ul>
</div>
