@import "../list/list";
$background-color: #ec7e2d;

.widget-dashboard-notepad {
  background-color: $background-color;

  .title {
    color: $title-color;
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
  }

  div.content {
    color: rgba(0, 0, 0, 0.7);
    max-height: 240px;
    overflow: hidden;
  }

  p.more-info {
    width: 100%;
    position: absolute;
    bottom: 36px;
    color: $moreinfo-color;
    font-size: 15px;
  }

  p.updated-at{
    color: rgba(0, 0, 0, 0.3);
  }
}
