// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: #FCBA5B;
$title-color:      rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-image styles
// ----------------------------------------------------------------------------
.widget-redmine-project_timetable {

  background-color: $background-color;

  .title {
    color: $title-color;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

}
